@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@import "_breadPoints.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.border-shape {
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  padding: 0 20px;
  border: 2px solid #fff;
  font: normal normal normal 14px/27px Montserrat;
  @include tablet {
    border-radius: 3px;
    padding: 0 40px;
    border: 5px solid #fff;
    font: normal normal normal 28px/34px Montserrat;
  }

  font-family: "Montserrat-Medium";
  position: relative;
  border-left: none;
  border-right: none;
  &::before {
    background-color: #7f6677;
    content: "";
    position: absolute;
    transform: rotate(-39deg);
    top: 0px;
    left: -5px;
    border-radius: 2px;
    height: calc(100% + 12px);
    width: 20px;
    border-right: 2px solid #fff;
    @include tablet() {
      top: 0px;
      left: -10px;
      border-radius: 3px;
      height: calc(100% + 20px);
      width: 35px;
      border-right: 5px solid #fff;
    }
  }
  &::after {
    content: "";
    background-color: #7f6677;
    position: absolute;
    transform: rotate(-35deg);
    height: calc(100% + 10px);
    width: 18px;
    right: -5px;
    top: -10px;
    border-radius: 2px;
    border-left: 2px solid #fff;
    @include tablet() {
      height: calc(100% + 18px);
      width: 30px;
      right: -6px;
      top: -18px;
      border-radius: 3px;
      border-left: 5px solid #fff;
    }
  }
}

.title {
  letter-spacing: -1.6px;
  font: normal normal 400 40px/35px Montserrat;
  @include tablet() {
    font: normal normal 800 80px/70px Montserrat;
  }
  font-family: "Montserrat-ExtraBold";
  color: #fff;
  position: relative;
  z-index: 2;
}
.desc {
  position: relative;
  font: normal normal normal 14px/17px Montserrat;
  @include tablet() {
    font: normal normal normal 28px/34px Montserrat;
  }
  font-family: "Montserrat-Regular";
  letter-spacing: 0px;
  color: #fff;
  z-index: 2;
}

.header {
  background-color: #7f6677;

  &-navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 24px 50px 38px;
    @include tablet() {
      padding: 12px 12px 25px 19px;
    }
    position: relative;
    z-index: 3;
    &-bar {
      width: 36px;
      @include tablet() {
        width: 72px;
      }
      position: relative;
      z-index: 10;

      &__item {
        position: absolute;
        height: 4px;
        @include tablet() {
          height: 8px;
        }
        width: 100%;
        background-color: #fff;
        top: 0;
        transition: all 0.3s;

        &:nth-child(2) {
          top: 8px;
          @include tablet() {
            top: 16px;
          }
        }
        &:nth-child(3) {
          top: 16px;
          @include tablet() {
            top: 32px;
          }
        }
      }
    }
    > input {
      display: none;
      &:checked {
        & ~ .header-navbar-menu {
          left: 0;
          transition: left 0.3s;
        }
        & ~ .header-navbar-bar {
          .header-navbar-bar__item {
            transition: all 0.3s;
            &:nth-child(2) {
              display: none;
            }
            &:first-of-type {
              transform: rotate(-45deg);
              top: 8px;
              @include tablet() {
                top: 16px;
              }
            }
            &:last-of-type {
              transform: rotate(45deg);
              top: 9px;
              @include tablet() {
                top: 18px;
              }
            }
          }
        }
      }
    }

    &__logo {
      width: 150px;
      @include tablet() {
        width: 200px;
      }
    }

    &-menu {
      position: fixed;
      left: -80%;
      top: 0;
      transition: left 0.3s;
      background-color: #abd3ce;
      width: 80%;
      overflow: hidden;
      padding-top: 60px;
      padding-left: 36px;
      padding-bottom: 50px;
      @include tablet() {
        padding-top: 120px;
        padding-left: 72px;
        padding-bottom: 90px;
      }

      input {
        display: none;
        &:checked + {
          ul.subMenu {
            max-height: 520px;
            transition: max-height 0.3s;
          }
        }
      }

      > ul > li {
        margin-bottom: 15px;
        @include tablet() {
          margin-bottom: 30px;
        }
        position: relative;
      }

      > ul > li > a,
      > ul > li > label {
        font: normal normal bold 32px/33px Montserrat;
        @include tablet() {
          font: normal normal bold 63px/77px Montserrat;
        }
        letter-spacing: 0px;
        color: #ffffff;
        text-decoration: none;
        font-family: "Montserrat-Bold";
        display: inline-block;
      }

      .subMenu {
        max-height: 0;
        overflow: hidden;
        padding-left: 23px;
        @include tablet() {
          padding-left: 45px;
        }
        transition: max-height 0.3s;
        > li {
          margin-bottom: 18px;
          @include tablet() {
            margin-bottom: 9px;
          }
          &:first-of-type {
            a {
              color: #50849a;
            }
          }
          &:last-of-type {
            a {
              color: #f4993d;
            }
          }
          &:nth-child(2) {
            a {
              color: #865792;
            }
          }
          &:nth-child(3) {
            a {
              color: #7f6677;
            }
          }
          &:nth-child(4) {
            a {
              color: #4466af;
            }
          }

          & > a {
            font: normal normal bold 25px/31px Montserrat;
            @include tablet() {
              font: normal normal bold 50px/61px Montserrat;
            }
            letter-spacing: 0px;
            font-family: "Montserrat-Bold";
            text-decoration: none;
            display: inline-block;
          }
        }
      }
    }
  }

  &-banner {
    position: relative;

    &__title {
      width: 100%;
      padding-left: 27px;
      padding-right: 48px;
      top: -54px;
      @include tablet() {
        padding-left: 55px;
        padding-right: 97px;
        top: -107px;
      }
      color: #fff;
    }

    &__desc {
      padding-left: 61px;
      padding-right: 108px;
      width: 100%;
      top: -50px;
      @include tablet() {
        padding-left: 122px;
        padding-right: 216px;
        width: 100%;
        top: -100px;
      }
    }
  }
}

.feature1 {
  position: relative;
  background: transparent url("../images/banner1.jpg") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 96px;
  @include tablet() {
    padding-top: 144px;
    padding-bottom: 192px;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(171, 211, 206, 0.4);
    z-index: 1;
  }

  &-title {
    padding-left: 24px;
    padding-right: 5px;
    @include tablet() {
      padding-left: 55px;
      padding-right: 10px;
    }
  }

  &-desc {
    margin-top: 11px;
    padding-left: 61px;
    padding-right: 68px;
    @include tablet() {
      margin-top: 21px;
      padding-left: 122px;
      padding-right: 137px;
    }
  }
}

.feature2 {
  background-color: #7f6677;
  padding-bottom: 41px;
  @include tablet() {
    padding-bottom: 82px;
  }
  &-logo {
    padding-left: 27px;
    width: 68px;
    @include tablet() {
      padding-left: 55px;
      width: 135px;
    }
  }

  &-content {
    margin-top: 15px;
    @include tablet() {
      margin-top: 30px;
    }
  }

  &-title {
    padding-left: 27px;
    padding-right: 74px;
    @include tablet() {
      padding-left: 55px;
      padding-right: 148px;
    }
  }

  &-desc {
    margin-top: 4px;
    padding-left: 61px;
    padding-right: 52px;
    @include tablet() {
      margin-top: 8px;
      padding-left: 122px;
      padding-right: 104px;
    }
  }

  &-shape {
    text-align: right;
    margin-top: 30px;
    padding-right: 22px;
    @include tablet() {
      margin-top: 60px;
      padding-right: 44px;
    }
  }
}

.feature3 {
  padding-top: 89px;
  @include tablet() {
    padding-top: 44px;
  }
  background-color: #fff;

  &-desc,
  &-title {
    color: #7f6677;
    text-align: right;
    padding-right: 31px;
    @include tablet() {
      padding-right: 61px;
    }
  }

  &-title {
    padding-left: 84px;
    @include tablet() {
      padding-left: 168px;
    }
  }

  &-desc {
    padding-left: 54px;
    @include tablet() {
      padding-left: 108px;
    }
  }

  &-img {
    margin-top: 37px;
    @include tablet() {
      margin-top: 74px;
    }
    position: relative;

    &__desc {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 42px 105px 47px 84px;
      @include tablet() {
        padding: 84px 210px 95px 168px;
      }
    }
  }
}

.feature4 {
  background-color: #7f6677;
  padding-top: 73px;
  @include tablet() {
    padding-top: 146px;
  }

  &-title {
    padding-left: 30px;
    @include tablet() {
      padding-left: 60px;
    }
    span {
      display: block;
    }
  }

  &-card {
    margin-top: 47px;
    @include tablet() {
      margin-top: 95px;
    }

    &__item {
      width: 74%;

      &:first-of-type {
        text-align: right;
        margin-left: auto;

        .feature4-card__info {
          padding-right: 10%;
          padding-left: 0;
        }
      }
    }

    &__img {
      background-repeat: no-repeat;
      background-size: cover;
      &::before {
        padding-top: 100%;
        content: "";
        display: block;
      }
    }

    &__info {
      position: relative;
      top: -39px;
      padding-left: 27px;
      @include tablet() {
        top: -78px;
        padding-left: 54px;
      }
    }

    &__name {
      font: normal normal bold 25px/25px Montserrat;
      @include tablet() {
        font: normal normal bold 50px/50px Montserrat;
      }
      font-family: "Montserrat-Bold";
      letter-spacing: -1px;
      color: #ffffff;
    }

    &__position {
      font: normal normal normal 15px/18px Montserrat;
      @include tablet() {
        font: normal normal normal 30px/37px Montserrat;
      }
      letter-spacing: 0px;
      color: #abd3ce;
      font-family: "Montserrat-Regular";
    }

    &__more {
      margin-top: 12px;
      @include tablet() {
        margin-top: 24px;
      }
      p {
        margin-bottom: 10px;
        @include tablet() {
          margin-bottom: 20px;
        }
      }
      span {
        font-size: 10px;
        @include tablet() {
          font-size: 20px;
        }
        font-family: "Montserrat-Bold";
        color: #fff;
        img {
          width: 18px;
          @include tablet() {
            width: 10px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #abd3ce;
  padding: 27px 16px 8px;
  @include tablet() {
    padding: 54px 32px 16px;
  }

  &-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      font-size: 18px;
      @include tablet() {
        font-size: 23px;
      }
      font-family: "Montserrat-Bold";
      &::before,
      &::after {
        background-color: #abd3ce;
      }
    }
  }

  &-content {
    margin-top: 14px;
    @include tablet() {
      margin-top: 27px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
  }

  &-info {
    width: 100%;
    text-align: right;

    p {
      font: normal normal normal 10px/12px Montserrat;
      @include tablet() {
        font: normal normal normal 20px/24px Montserrat;
      }
      letter-spacing: 0px;
      font-family: "Montserrat-Regular";
    }
  }

  &-logo {
    width: 100px;
    @include tablet() {
      width: 180px;
    }
  }

  &-text {
    font: normal normal normal 10px/10px Montserrat;
    @include tablet() {
      font: normal normal normal 15px/19px Montserrat;
    }
    letter-spacing: 0px;
    font-family: "Montserrat-Regular";
  }
}
