@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@import "_breadPoints.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.border-shape {
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  padding: 0 20px;
  border: 2px solid #fff;
  font: normal normal normal 14px/27px "Montserrat-Medium";
  @include tablet {
    border-radius: 3px;
    padding: 0 40px;
    border: 5px solid #fff;
    font: normal normal normal 28px/34px "Montserrat-Medium";
  }

  font-family: "Montserrat-Medium";
  position: relative;
  border-left: none;
  border-right: none;
  &::before {
    background-color: #7f6677;
    content: "";
    position: absolute;
    transform: rotate(-37deg);
    top: 0px;
    left: -5px;
    border-radius: 2px;
    height: calc(100% + 11px);
    width: 20px;
    border-right: 2px solid #fff;
    @include tablet() {
      top: 0px;
      left: -15px;
      border-radius: 3px;
      height: calc(100% + 19px);
      width: 35px;
      border-right: 5px solid #fff;
      transform: rotate(-40deg);
    }
  }
  &::after {
    content: "";
    background-color: #7f6677;
    position: absolute;
    transform: rotate(-34deg);
    height: calc(100% + 10px);
    width: 20px;
    right: -6px;
    top: -10px;
    border-radius: 2px;
    border-left: 2px solid #fff;
    @include tablet() {
      height: calc(100% + 19px);
      width: 30px;
      right: -12px;
      top: -17px;
      transform: rotate(-38deg);
      border-radius: 3px;
      border-left: 5px solid #fff;
    }
  }
}

.title {
  color: #fff;
  position: relative;
  z-index: 2;
  letter-spacing: -1.6px;
  font: normal normal 800 40px/35px "Montserrat-ExtraBold";
  @include tablet() {
    font: normal normal 800 80px/70px "Montserrat-ExtraBold";
  }
  @include desktop() {
    font-size: 100px;
    line-height: 90px;
  }
  @include desktop-large() {
    font-size: 120px;
    line-height: 110px;
  }
  font-family: "Montserrat-ExtraBold";
}
.desc {
  position: relative;
  font: normal normal normal 20px/23px "Montserrat-Regular";
  @include tablet() {
    font: normal normal normal 28px/34px "Montserrat-Regular";
  }
  @include desktop() {
    font-size: 29px;
  }
  @include desktop-large() {
    font-size: 30px;
  }
  font-family: "Montserrat-Regular";
  letter-spacing: 0px;
  color: #fff;
  z-index: 2;
}

.header {
  background-color: #7f6677;
  @include desktop() {
    padding-bottom: 215px;
  }

  &-navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 24px 50px 38px;
    @include tablet() {
      padding: 12px 12px 25px 19px;
    }
    @include desktop() {
      align-items: flex-start;
      padding-top: 25px;
      padding-bottom: 50px;
    }
    @include desktop-large() {
      padding-top: 30px;
      padding-bottom: 80px;
    }
    position: relative;
    z-index: 3;
    &-bar {
      width: 36px;
      @include tablet() {
        width: 72px;
      }
      @include desktop() {
        display: none;
      }
      position: relative;
      z-index: 10;

      &__item {
        position: absolute;
        height: 4px;
        @include tablet() {
          height: 8px;
        }
        width: 100%;
        background-color: #fff;
        top: 0;
        transition: all 0.3s;

        &:nth-child(2) {
          top: 8px;
          @include tablet() {
            top: 16px;
          }
        }
        &:nth-child(3) {
          top: 16px;
          @include tablet() {
            top: 32px;
          }
        }
      }
    }
    > input {
      display: none;
      &:checked {
        & ~ .header-navbar-menu {
          left: 0;
          transition: left 0.3s;
        }
        & ~ .header-navbar-bar {
          .header-navbar-bar__item {
            transition: all 0.3s;
            &:nth-child(2) {
              display: none;
            }
            &:first-of-type {
              transform: rotate(-45deg);
              top: 8px;
              @include tablet() {
                top: 16px;
              }
            }
            &:last-of-type {
              transform: rotate(45deg);
              top: 9px;
              @include tablet() {
                top: 18px;
              }
            }
          }
        }
      }
    }

    &__logo {
      width: 150px;
      @include tablet() {
        width: 200px;
      }
    }

    &-menu {
      position: fixed;
      left: -80%;
      top: 0;
      transition: left 0.3s;
      background-color: #abd3ce;
      width: 80%;
      overflow: hidden;
      padding-top: 60px;
      padding-left: 36px;
      padding-bottom: 50px;
      @include tablet() {
        padding-top: 120px;
        padding-left: 72px;
        padding-bottom: 90px;
      }

      @include desktop() {
        position: unset;
        background-color: transparent;
        padding: 0;
        width: auto;
        > ul {
          display: flex;
        }
      }

      input {
        display: none;
        &:checked + {
          ul.subMenu {
            max-height: 520px;
            transition: max-height 0.3s;

            @include desktop() {
              padding-top: 15px;
            }
          }
        }
      }

      > ul > li {
        margin-bottom: 15px;
        @include tablet() {
          margin-bottom: 30px;
        }
        @include desktop() {
          margin-bottom: 0;
          margin-right: 40px;
        }

        position: relative;
      }

      > ul > li > a,
      > ul > li > label {
        cursor: pointer;
        font: normal normal bold 32px/33px "Montserrat-Bold";
        @include tablet() {
          font: normal normal bold 63px/77px "Montserrat-Bold";
        }
        @include desktop {
          font-size: 20px;
          line-height: 1;
        }
        letter-spacing: 0px;
        color: #ffffff;
        text-decoration: none;
        font-family: "Montserrat-Bold";
        display: inline-block;
        > img {
          width: 50px;
          @include tablet() {
            width: 100px;
          }
          @include desktop() {
            width: 40px;
          }
        }
      }

      > ul > li:hover {
        @include desktop() {
          > ul.subMenu {
            max-height: 520px;
            padding-top: 15px;
            transition: all 0.5s;
          }
        }
      }

      .subMenu {
        max-height: 0;
        overflow: hidden;
        padding-left: 23px;
        @include tablet() {
          padding-left: 45px;
        }
        @include desktop() {
          position: fixed;
          width: 250px;
          overflow: hidden;
          background-color: #fff;
          padding-left: 20px;
          transition: all 0.5s;
        }
        transition: max-height 0.3s;
        > li {
          margin-bottom: 18px;
          @include tablet() {
            margin-bottom: 9px;
          }
          &:first-of-type {
            a {
              color: #50849a;
            }
          }
          &:last-of-type {
            a {
              color: #f4993d;
            }
          }
          &:nth-child(2) {
            a {
              color: #865792;
            }
          }
          &:nth-child(3) {
            a {
              color: #7f6677;
            }
          }
          &:nth-child(4) {
            a {
              color: #4466af;
            }
          }

          & > a {
            font: normal normal bold 25px/31px "Montserrat-Bold";
            @include tablet() {
              font: normal normal bold 50px/61px "Montserrat-Bold";
            }
            @include desktop() {
              font-size: 20px;
              line-height: 1;
            }
            letter-spacing: 0px;
            font-family: "Montserrat-Bold";
            text-decoration: none;
            display: inline-block;
          }
        }
      }
    }
  }

  &-banner {
    position: relative;

    &__image {
      @include desktop() {
        width: 100%;
        position: relative;
        left: -33%;
      }
    }

    &__content {
      @include desktop() {
        width: 100%;
        top: 98px;
        position: absolute;
      }
    }

    &__title {
      color: #fff;
      width: 100%;
      padding-left: 27px;
      padding-right: 48px;
      top: -54px;
      @include tablet() {
        padding-left: 55px;
        padding-right: 97px;
        top: -107px;
      }
      @include desktop() {
        padding-left: 600px;
        left: 0;
        top: 0;
      }
      @include desktop-large() {
        padding-left: 700px;
      }
    }

    &__desc {
      padding-left: 61px;
      padding-right: 108px;
      width: 100%;
      top: -50px;
      @include tablet() {
        padding-left: 122px;
        padding-right: 216px;
        width: 100%;
        top: -100px;
      }
      @include desktop() {
        top: 0;
        padding-left: 1080px;
        padding-right: 30px;
        margin-top: 70px;
      }
      @include desktop-large() {
        padding-left: 1350px;
      }
    }
  }
}

.feature1 {
  position: relative;
  opacity: 0.95;
  background: transparent url("../images/EXPERTISE_PANNEAU_2.jpg") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 96px;
  @include tablet() {
    padding-top: 144px;
    padding-bottom: 192px;
  }
  @include desktop() {
    padding-top: 160px;
    padding-bottom: 224px;
  }
  @include desktop-large() {
    padding-top: 221px;
    padding-bottom: 284px;
  }

  &-title {
    padding-left: 24px;
    padding-right: 5px;
    @include tablet() {
      padding-left: 55px;
      padding-right: 10px;
    }
    @include desktop() {
      font-size: 100px;
      padding-left: 100px;
      padding-right: 150px;
    }
    @include desktop-large() {
      font-size: 112px;
      padding-left: 130px;
      padding-right: 350px;
    }
  }

  &-desc {
    margin-top: 11px;
    padding-left: 61px;
    padding-right: 68px;
    @include tablet() {
      margin-top: 21px;
      padding-left: 122px;
      padding-right: 137px;
    }
    @include desktop() {
      margin-top: 34px;
      padding-left: 250px;
      padding-right: 600px;
    }
    @include desktop-large() {
      margin-top: 54px;
      padding-left: 441px;
      padding-right: 936px;
    }
  }
}

.feature2 {
  background-color: #7f6677;
  padding-bottom: 41px;
  @include tablet() {
    padding-bottom: 82px;
  }
  @include desktop() {
    padding-bottom: 0;
  }
  &-logo {
    margin-left: 27px;
    width: 68px;
    @include tablet() {
      margin-left: 55px;
      width: 135px;
    }
    @include desktop {
      margin-left: 217px;
      width: 247px;
    }
  }

  &-content {
    margin-top: 15px;
    @include tablet() {
      margin-top: 30px;
    }
  }

  &-title {
    padding-left: 27px;
    padding-right: 74px;
    @include tablet() {
      padding-left: 55px;
      padding-right: 148px;
    }
    @include desktop() {
      padding-left: 125px;
      padding-right: 535px;
    }
    @include desktop-large() {
      padding-left: 145px;
      padding-right: 800px;
    }
  }

  &-desc {
    margin-top: 4px;
    padding-left: 61px;
    padding-right: 52px;
    @include tablet() {
      margin-top: 8px;
      padding-left: 122px;
      padding-right: 104px;
    }
    @include desktop() {
      margin-top: 39px;
      padding-left: 420px;
      padding-right: 390px;
    }
    @include desktop-large() {
      margin-top: 49px;
      padding-left: 468px;
      padding-right: 850px;
    }
  }

  &-shape {
    text-align: right;
    margin-top: 30px;
    padding-right: 22px;
    @include tablet() {
      margin-top: 60px;
      padding-right: 44px;
    }
    @include desktop() {
      position: relative;
      top: -150px;
      margin-top: 0;
    }
    @include desktop-large() {
      position: relative;
      top: -200px;
      margin-top: 0;
    }
  }
}

.feature3 {
  padding-top: 44px;
  @include tablet() {
    padding-top: 89px;
  }
  @include tablet() {
    padding-top: 70px;
  }
  background-color: #fff;

  &-desc,
  &-title {
    color: #7f6677;
    text-align: right;
    padding-right: 31px;
    @include tablet() {
      padding-right: 61px;
    }
    @include desktop() {
      text-align: left;
    }
  }

  &-title {
    padding-left: 84px;
    @include tablet() {
      padding-left: 168px;
    }
    @include desktop() {
      padding-left: 490px;
      padding-right: 140px;
    }
    @include desktop-large() {
      padding-left: 550px;
      padding-right: 300px;
    }
  }

  &-desc {
    padding-left: 54px;
    @include tablet() {
      padding-left: 108px;
    }
    @include desktop() {
      padding-left: 830px;
      padding-right: 60px;
    }
    @include desktop-large() {
      padding-left: 1100px;
      padding-right: 140px;
    }
  }

  &-img {
    margin-top: 37px;
    position: relative;
    @include tablet() {
      margin-top: 74px;
    }
    @include desktop() {
      width: 84%;
    }
    &__desc {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 25px 80px 30px 70px;
      @include tablet() {
        padding: 84px 210px 95px 168px;
      }
      @include desktop() {
        padding: 200px 420px 160px 470px;
      }
      @include desktop-large() {
        padding: 260px 480px 220px 530px;
      }
    }
  }
}

.feature4 {
  background-color: #7f6677;
  padding-top: 73px;
  @include tablet() {
    padding-top: 146px;
  }

  &-title {
    padding-left: 30px;
    @include tablet() {
      padding-left: 60px;
    }
    @include desktop() {
      padding-left: 130px;
    }
    span {
      display: block;
      &:nth-child(2),
      &:nth-child(3) {
        @include desktop() {
          display: inline;
        }
      }
    }
  }

  &-card {
    margin-top: 47px;
    @include tablet() {
      margin-top: 95px;
    }
    @include desktop() {
      display: flex;
      padding-left: 175px;
      padding-right: 257px;
    }

    &__item {
      width: 74%;

      &:first-of-type {
        text-align: right;
        margin-left: auto;

        .feature4-card__info {
          padding-right: 10%;
          padding-left: 0;
        }
      }
    }

    &__img {
      background-repeat: no-repeat;
      background-size: cover;
      &::before {
        padding-top: 100%;
        content: "";
        display: block;
      }
    }

    &__info {
      position: relative;
      top: -39px;
      padding-left: 27px;
      @include tablet() {
        top: -78px;
        padding-left: 54px;
      }
      @include desktop() {
        top: -27px;
      }
    }

    &__name {
      font: normal normal bold 25px/25px "Montserrat-ExtraBold";
      @include tablet() {
        font: normal normal bold 45px/45px "Montserrat-ExtraBold";
      }
      font-family: "Montserrat-ExtraBold";
      letter-spacing: -1px;
      color: #ffffff;

      span {
        display: block;
        @include desktop() {
          display: inline;
        }
      }
    }

    &__position {
      font: normal normal normal 15px/18px "Montserrat-Regular";
      @include tablet() {
        font: normal normal normal 30px/37px "Montserrat-Regular";
      }
      letter-spacing: 0px;
      color: #abd3ce;
      font-family: "Montserrat-Regular";
    }

    &__more {
      margin-top: 12px;
      @include tablet() {
        margin-top: 24px;
      }
      p {
        margin-bottom: 10px;
        @include tablet() {
          margin-bottom: 20px;
        }
      }
      span {
        font-size: 10px;
        @include tablet() {
          font-size: 20px;
        }
        font-family: "Montserrat-Bold";
        color: #fff;
        img {
          width: 10px;
          @include tablet() {
            width: 19px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #abd3ce;
  padding: 27px 16px 8px;
  @include tablet() {
    padding: 54px 32px 16px;
  }

  &-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include desktop() {
      justify-content: flex-end;
    }
    p {
      font-size: 18px;
      margin-bottom: 10px;
      @include tablet() {
        font-size: 23px;
      }
      @include desktop() {
        margin-left: 10px;
      }
      font-family: "Montserrat-Bold";
      &::before,
      &::after {
        background-color: #abd3ce;
      }
    }
  }

  &-content {
    margin-top: 14px;
    @include tablet() {
      margin-top: 27px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
  }

  &-info {
    width: 100%;
    text-align: right;
    @include desktop() {
      flex: 1;
      order: 2;
      text-align: left;
      display: flex;
      padding-left: 140px;
      align-items: flex-end;
    }

    p {
      font: normal normal normal 10px/12px "Montserrat-Regular";
      @include tablet() {
        font: normal normal normal 20px/24px "Montserrat-Regular";
      }
      @include desktop() {
        font-size: 15px;
        line-height: 18px;
      }
      letter-spacing: 0px;
      font-family: "Montserrat-Regular";
    }

    &__logo {
      width: 60px;
      margin-left: auto;
      @include desktop() {
        margin-left: 0;
        width: 65px;
        margin-right: 20px;
      }
    }
  }

  &-logo {
    width: 70px;
    @include tablet() {
      width: 180px;
    }
    @include desktop() {
      order: 1;
      width: 200px;
    }
  }

  &-text {
    font: normal normal normal 10px/10px "Montserrat-Regular";
    @include tablet() {
      font: normal normal normal 15px/19px "Montserrat-Regular";
    }
    @include desktop() {
      flex: 1;
      order: 3;
      text-align: right;
    }
    letter-spacing: 0px;
    font-family: "Montserrat-Regular";
  }
}
